.navigation {
        height: 80px;
        display: flex;
        align-items: center;

    &_list-item:not(:last-child) {
        padding-right: 46px;
    }

    &_logo {
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.192;
        letter-spacing: 0.03em;
        color: var(--third-color);
        margin-right: 93px;
    }

    &_list-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        color: var(--main-color);
        position: relative;
        transition: color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    
    &_list {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.active::after {
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
    margin-top: 28px;
}