.ourclients {
    &_description {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.666;
        text-align: center;
        letter-spacing: 0.03em;
        padding-bottom: 50px;
    }

    &_list {
        display: flex;
        justify-content: space-around;
    }

    &_list-link {
        display: block;
        width: 170px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: var(--icon-color);
        transition: fill 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    &_list-link:hover,
    &_list-link:focus {
        border: 1px solid #2196F3;
        fill: #2196F3;
    }
}